<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>@ViewData["Title"] - Daily Journal</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <p class="navbar-brand">DAILY JOURNAL</p>
                </div>
                <ul class="nav navbar-nav navbar-right">
                <!-- 6 -->
                    <li id="home"><a asp-page="Index">HOME</a></li>
                    <li id="about"><a asp-page="About">ABOUT US</a></li>
                    <li id="contact"><a asp-page="Contact">CONTACT US</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        <div class="footer-padding"></div>
        <div class="footer">
            <p>Made with â by The App Brewery</p>
        </div>
    </body>
</html>